- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "lessons", "math_display", "problem_entry_form"
  = javascript_include_tag "http://latex.codecogs.com/editor3.js"
  
.row#current_level_display
  %h4 Current Levels:
  #instructions
    = "#{@problem_level.instruction.description}"
  #sibling-level-list
    - @sibling_levels.each do |sibling_level|
      .math-display
        .level_number_display
          =display_level_number sibling_level
        .problem-level
          =display_mathml_question(sibling_level.demo_problem)

.row
  %h2 Create a New Level:

.row#new_level_form
  = form_for(@problem_level) do |level|
    = hidden_field_tag "problem_level[problem_type_id]", @problem_level.problem_type.id
    .row
      = level.label :level_number
      %br
      = level.text_field :level_number
    .row
      = render(:partial => "math_problems/nested_problem_form", :locals => {:builder => level})    
    .row
      .actions
        = level.submit

