- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "lessons"
  = stylesheet_link_tag "problem_entry_form"
  
.row#current_level_display
  %h4 Current Levels:
  #instructions
    = "#{@problem_level.instruction.description}"
  - @sibling_levels.each do |sibling_level|
    .problem_example
      .difficulty_display
        =display_difficulty sibling_level
      .problem_display
        =display_mathml_question(sibling_level.demo_problem)

.row
  %h2 Create a New Level:

.row#new_level_form
  = form_for(@problem_level) do |level|
    = hidden_field_tag "problem_level[problem_type_id]", @problem_level.problem_type.id
    .row
      = level.label :difficulty
      %br
      = level.text_field :difficulty
    .row
      = render(:partial => "math_problems/nested_problem_form", :locals => {:builder => level})    
    .row
      .actions
        = level.submit

