- content_for :head do
  %title
    ="Worksheet #{@worksheet.id}"
  = javascript_include_tag "replace_problem"
  = stylesheet_link_tag "worksheet", {:media => "print, screen"}
  = stylesheet_link_tag "print/worksheet", {:media => "print" }

.worksheet{:id => "worksheet_#{@worksheet.id}"}
  #worksheet-links
  = link_to "Back", worksheet_path(@worksheet)
  #worksheet-title
    = simple_form_for @worksheet do |w|
      = w.input :title
      = w.submit
  - @worksheet.problem_groups.each do |group|
    .problem_group
      .instructions
        = group.first.instruction.description
      - group.each do |worksheet_problem|
        = render :partial => "worksheet_problems/worksheet_problem", :locals => { :worksheet_problem => worksheet_problem, :editable => true }