<% content_for :head do %>
  <title>Worksheet <%= @worksheet.id %></title>
  <%= javascript_include_tag "replace_problem" %>
  <%= stylesheet_link_tag "worksheet", {:media => "print, screen"} %>
  <%= stylesheet_link_tag "print/worksheet", {:media => "print" } %>
<% end %>

<div class="worksheet" id="worksheet_<%= @worksheet.id %>">
<% current_index = 0 %>
<% @worksheet.problem_groups.each do |group| %>
  <div class="problem_group">
  	<div class="instructions"><%= group.first.instruction.description %></div>
  	<% group.each do |worksheet_problem| %>
  		<%= render :partial => "math_problems/math_problem", :locals => { :worksheet => @worksheet, :math_problem => worksheet_problem.math_problem, :problem_number => current_index + 1 } %>
  		<% current_index += 1%>
  	<% end %>  	
  </div>
<% end %>

</div>