- content_for :head do
  %title 
    = "Worksheet #{@worksheet.id}"
    
.worksheet{:id => "worksheet_#{@worksheet.id}"}
  #worksheet_links
    = link_to "Show Solutions", worksheet_solution_path(@worksheet)
    |
    = link_to "Edit Worksheet", edit_worksheet_path(@worksheet)
    |
    = link_to "Delete this Worksheet", worksheet_url(@worksheet), :confirm => 'Are you sure you want to delete this worksheet?', :method => :delete
    
  #worksheet-title
    =@worksheet.title
  .worksheet-problems
    - @worksheet.problem_groups.each do |group|
      .problem_group
        .instructions
          = problem_group_instructions(group)
        - group.each do |worksheet_problem|
          = render :partial => "worksheet_problems/worksheet_problem", :locals => { :worksheet_problem => worksheet_problem, :editable => false }