- content_for :head do
  %title 
    = "Worksheet #{@worksheet.id}"
  = stylesheet_link_tag "worksheet", {:media => "print, screen"}
  = stylesheet_link_tag "print/worksheet", {:media => "print" }

.worksheet{:id => "worksheet_#{@worksheet.id}"}
  = link_to "Show Solutions", worksheet_solution_path(@worksheet)
  |
  = link_to "Edit Worksheet", edit_worksheet_path(@worksheet)
  - @worksheet.problem_groups.each do |group|
    .problem_group
      .instructions
        = group.first.instruction.description
      - group.each do |worksheet_problem|
        = render :partial => "worksheet_problems/worksheet_problem", :locals => { :worksheet_problem => worksheet_problem, :editable => false }