<%= simple_form_for([:admin, @lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :chapter %>
  </div>
  <div class="field">
    <%= f.input :section %>
  </div>
  <div class="field">
    <%= f.association :topic, :collection => all_topics %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
