%h3
  = "Create a new problem for Lesson: #{@template.lesson.title}"

= form_for(@template) do |t|
  = hidden_field_tag "math_problem_template[lesson_id]", @template.lesson.id

  = t.label :instruction_id, "Instruction"
  = t.select(:instruction_id, instruction_choices)
  %br
  = link_to "None of these will do... make new instructions", new_lesson_instruction_path(@template.lesson)
  %br
  = t.fields_for :problem_levels do |level_builder|
    %br
    =level_builder.fields_for :math_problems do |problem_builder|
      = problem_builder.label :question_markup
      = problem_builder.text_area :question_markup
      %br
      = problem_builder.label :answer_markup
      = problem_builder.text_area :answer_markup
      %br
  .actions
    = t.submit
  
