= simple_form_for(@math_problem) do |f|
  - if @math_problem.errors.any?
    .error_explanation
      %h2
        = pluralize(math_problem.errors.count, "error")
      %ul
        - math_problem.errors.full_messages.each do |msg|
          %li
            = msg
  = render :partial => 'math_problems/question_and_answer_markup', :locals => { :form => f }
  
  #level
    = f.association :problem_level, :label => "Level: ", :collection => @problem_type.problem_levels, :label_method => :level_number, :include_blank => false, :confirm => "Are you sure?"

  .actions
    = f.submit
  
