<%= form_for(@math_problem) do |f| %>
  <% if @math_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@math_problem.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @math_problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_markup %><br />
    <%= f.text_field :question_markup %>
  </div>
  <div class="field">
    <%= f.label :answer_markup %><br />
    <%= f.text_field :answer_markup %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
