= form_for(@math_problem) do |f|
  - if @math_problem.errors.any?
    .error_explanation
      %h2
        = pluralize(@math_problem.errors.count, "error")
        prohibited this movie from being saved
      %ul
        - @math_problem.errors.full_messages.each do |msg|
          %li
            = msg
  = hidden_field_tag "math_problem[problem_level_id]", @math_problem.problem_level.id

  .field
    = f.label :question_markup
    %br
    = f.text_area :question_markup

  .field
    = f.label :answer_markup
    %br
    = f.text_area :answer_markup

  .actions
    = f.submit
