= simple_form_for(@math_problem) do |f|
  - if @math_problem.errors.any?
    .error_explanation
      %h2
        = pluralize(@math_problem.errors.count, "error")
        prohibited this movie from being saved
      %ul
        - @math_problem.errors.full_messages.each do |msg|
          %li
            = msg
  = hidden_field_tag "math_problem[problem_level_id]", @math_problem.problem_level.id
  #level
    = f.association :problem_level, :label => "Level: ", :collection => @problem_type.problem_levels, :label_method => :level_number, :include_blank => false, :confirm => "Are you sure?"
  #math-markup-input-fields
    #question_markup
      = f.input :question_markup, :as => :text
    #answer_markup
      = f.input :answer_markup, :as => :text 
  .actions
    = f.submit
