.nav_bar
  = link_to :all, math_problems_path
  = link_to :grouped, math_problems_grouped_path
  = link_to :rogue, math_problems_rogue_path
  = link_to :new, new_math_problem_path
  = link_to :home, "/"