- content_for :head do
  %title New Math Problem
  = stylesheet_link_tag "lessons, math_display, math_problem"
  = stylesheet_link_tag "problem_entry_form"

.row#current_level_display
  %h4
    Some Existing Problems
    = sibling_count(@siblings.count, @math_problem.siblings.count)
  #instructions
    = "#{@math_problem.instruction.description}"
    - @siblings.each do |sibling_problem|
      .math-display
        .problem_display
          =display_mathml_question(sibling_problem)
.row
  = render :partial => "math_problems/markup_generator_links"
  
.row
  %h1 New Math Problem
  =render 'math_problems/form'

.row#links
=link_to 'Menu', root_url
