<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Chapter:</b>
  <%= @lesson.chapter %>
</p>

<p>
  <b>Section:</b>
  <%= @lesson.section %>
</p>

<p>
  <b>Subject:</b>
  <%= @lesson.subject.title %>
</p>


<%= link_to 'Edit', edit_admin_lesson_path(@lesson) %> |
<%= link_to 'Back', admin_lessons_path %>
