- content_for :head do
  %title
    New Worksheet Problem for 
    = @worksheet.title
  = stylesheet_link_tag "problem_entry_form", "worksheet", "worksheets/worksheet_problem"
  = javascript_include_tag latex_generator_popup_url

#new-problem-title
  Add New Problem

= simple_form_for @worksheet_problem do |wp|
  = wp.input :worksheet_id, :as => :hidden
  = wp.fields_for :math_problem do |mp_builder|
    = render :partial => "math_problems/question_and_answer_markup", :locals => { :form => mp_builder }
  .actions
    = wp.submit
    
= render :partial => "worksheet_problems/sibling_worksheet_problems", :locals => {:worksheet_problem => @worksheet_problem}