= simple_form_for(@problem_type) do |t|
  .problem_instruction
    =@problem_type.instruction.description
  .problem_display
    =display_mathml_question(@problem_type.demo_problem)

  = hidden_field_tag "problem_type[lesson_id]", @problem_type.lesson.id
  
  = t.label :title, "Title"
  = t.text_field :title
  %br
  
  = t.association :instruction
  %br
  
  = link_to "None of these will do... make new instructions", new_lesson_instruction_path(@problem_type.lesson)
  %br
  
  = t.association :tags, :as => :check_boxes, :collection => @problem_type.tags
  %br
  .actions
    = t.submit
    
= simple_form_for(@problem_type) do |t|
  =t.input :new_tag
  .actions
  = t.submit
    
