- content_for :head do
  %title= "Edit: #{@problem_type.title}" 
  = javascript_include_tag("problem_type_edit_autocomplete.js")
  = stylesheet_link_tag "lessons"
  = stylesheet_link_tag("ui-lightness/jquery-ui-1.8.13.custom.css")

#info{ :data => {:problem_type_name => @problem_type.to_param}}

= simple_form_for(@problem_type) do |t|

  .form_section#category
    = t.association :category
    %br
  .form_section#title
    = t.label :title, "Title"
    = t.text_field :title
    %br
  .form_section#instruction
    = t.association :instruction
    = link_to "None of these will do... make new instructions", new_instructions_path(@problem_type.lesson)
    
  .form_section#edit_tag_list
    = t.association :tags, :as => :check_boxes, :collection => @problem_type.tags, :label => "Current Tags: "
  
  .action
    = t.submit "Update Problem Type"

