- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "lessons", "math_display", "problem_entry_form"
  = javascript_include_tag "http://latex.codecogs.com/editor3.js"
%h3
  = "Create A New Problem Type"

= simple_form_for(@problem_type) do |t|

  #category.problem-type-section
    = t.association :category, :include_blank => false
    .link
      = link_to "Create a new Category", new_category_url
  
  #title.problem-type-section
    = t.input :title

  #instruction.problem-type-section
    = t.association :instruction, :include_blank => false
    .link
      = link_to "Make new Instructions", new_instructions_path
  
  #problem-level-builder.problem-type-section
    = t.fields_for :problem_levels do |level_builder|
      #level-number
        = level_builder.input :level_number  
        = render(:partial => "math_problems/nested_problem_form", :locals => {:builder => level_builder})

  .actions
    = t.submit
  
