- content_for :head do
  %title Problem Type
  = stylesheet_link_tag "math_display"

%h3
  = @problem_type.topic_name
  = @problem_type.title

#edit-problem-type
  =link_to "Edit Problem Type / Add or Delete Tags", edit_problem_type_url(@problem_type)

#instructions
  Instructions:
  = @problem_type.instruction_text

#tags
  = display_tag_list @problem_type

.math-display-row
  =render(:partial => 'level_examples', :locals => {:levels => @problem_type.problem_levels })

=delete_problem_type_link_if_empty(@problem_type)

#other-links
  =link_to "My Lessons", my_lessons_path
  |
  =link_to "Add New Level", new_problem_type_problem_level_url(@problem_type)
  
