- content_for :head do
  %title Problem Type
  = stylesheet_link_tag "lessons"

%h3
  = @problem_type.category_with_subject
  = @problem_type.title

.row
  =link_to "Edit Problem Type / Add or Delete Tags", edit_problem_type_url(@problem_type)
.row

.row#instructions
  Instructions:
  = @problem_type.instruction_text

.row#tags
  = display_tag_list @problem_type

.row#level_examples
  =render(:partial => 'level_examples', :locals => {:levels => @problem_type.problem_levels })

=delete_problem_type_link_if_empty(@problem_type)

.row
  =link_to "Back to Lesson", lesson_path(@problem_type.lesson)
  |
  =link_to "Add New Level", new_problem_type_problem_level_url(@problem_type)
  
