#navigation-header
  #nav_bar
    = link_to "find problem types", problem_types_search_index_path
    |
    = link_to :dashboard, dashboard_url
    |
    = link_to "my lessons", my_lessons_url
  #user_login
    = display_email_if_signed_in
    = user_login_or_logout_link
