%html
  %head
    = javascript_include_tag :defaults
    = cdn_mathjax_link
    = javascript_include_tag("jquery.throbber.min.js")
    = csrf_meta_tag
    = yield :head
  %body
    = render :partial => "navigation"
    - if flash[:notice]
      %p.notice
        = flash[:notice]
    = yield